<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style/style.css') }}">
    <link rel="stylesheet" href="images/background.jpg">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container" id="hola">
                <a class="navbar-brand" href="{{ url_for('home') }}" id="titulo">Movie World</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link toggle" href="{{ url_for('dash') }}" id="navbar-toggler" role="button">
                                Dashboard
                            </a>
                            <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                            <!-- <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="max_temp.html">Max Temperature</a>
                                <a class="dropdown-item" href="humidity.html">Humidity</a>
                                <a class="dropdown-item" href="cloudiness.html">Cloudiness</a>
                                <a class="dropdown-item" href="wind.html">Windspeed</a>
                                <!--<div class="dropdown-divider"></div>-->
                            <!--</div> -->
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link toggle" href="{{ url_for('calcu') }}" id="navbar-toggler" role="button">
                                Movie Calculator
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link toggle" href="{{ url_for('random') }}" id="navbar-toggler" role="button">
                                Movie Random List
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container" id="start">
        <div class="row">
            <div class="col-3">
                <input type="text" placeholder="Select Director" class="btn-md">
            </div>
            <div class="col-1">
                +
            </div>
            <div class="col-3">
                <input type="text" placeholder="Select Actor" class="btn-md">
            </div>
            <div class="col-1">
                +
            </div>
            <div class="dropdown text-center col-3">
                <select class="browser-default custom-select btn-sm">
                    <option selected>Select Movie Genre</option>
                    <option value="Drama">Drama</option>
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Aniumation">Animation</option>
                    <option value="Horror">Horror</option>
                    <option value="Musical">Musical</option>
                    <option value="Biography">Biography</option>
                    <option value="Crime">Crime</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Family">Family</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Documentary">Documentary</option>
                    <option value="Romance">Romance</option>
                    <option value="Sci-fi">Sci-fi</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Western">Western</option>
                    <option value="Short">Short</option>
                    <option value="Music">Music</option>
                    <option value="Reality-TV">Reality-TV</option>
                    <option value="War">War</option>
                    <option value="History">History</option>
                    <option value="Sport">Sport</option>
                    <option value="Talk-Show">Talk-Show</option>
                    <option value="Game-Show">Game-Show</option>
                </select>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-primary btn-sm" id="predict">Calculate!</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="result"></div>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="../static/js/logic.js "></script>

</html>